<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izutechs | <%=title  %> </title>
    <link href="../css/blogStyles.css" rel="stylesheet">
    <link href="../css/authors.css" rel="stylesheet">
</head>
<body>
    <h1><a href="/" class="sitetxt">Izutechs</a></h1>

   
    
   
       <%-include("./partials/navbar.ejs")%>

  

    
    
<br>
     

        <div class="authors">
            <div class="eachAuthor"></div>
            <% if(authors.length>0){ %> 
                <%let i=0%>
               <% authors.forEach(author=>{%>
                    
                    <span class="authorNam"><%=i++%>. <%=author.username  %></span><br><br>
                    
                    <% });%>
               <%}%>
        </div>
            
           
          
        
           

    

    <%-include("./partials/footer.ejs")%>
</body>
</html>